body {
    font-family: 'Roboto Condensed', sans-serif;
    color:#444;
    font-weight:400;
    text-shadow:none;
}


h1, h2, h3, h4,h5,h6 {
    text-shadow:none;
    font-family: 'Alegreya Sans', sans-serif;
}
h1 {
    font-size:72px;
    font-weight:700px;
    color:#FF8201;
    text-transform:none;
    margin-bottom:0;
    line-height:55px;
    position:relative;
    right:3px;
}
h2 {
    font-size:48px;
    color:#007DA9;
}
h3 {
    font-size:36px;
    color:#007DA9;
}
h4 {
    font-size:24px;
    font-family: 'Roboto Condensed', sans-serif;
}
h5 {
    font-size:20px;
}
h6 {
    font-size:18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:400
}
p {
    font-size:20px;
}

section h2 {
    font-weight:700;
}
a {
    color: #FFF;
}

.star {
    font-size:35px;
    color:#FFCD00;
}
a:hover {
    color:#FFF;
    text-decoration:none;
}

.font-alegreya {
    font-family: 'Alegreya Sans', sans-serif;
}

.font-roboto {
    font-family: 'Roboto Condensed', sans-serif;
}

.text-orange {
    color:#FF8201;
}
.custom-btn {
    background:#FF8201;
    color:#FFF;
    font-size:20px;
    border-radius:12px;
    font-weight:400;
    text-shadow:none;
    border-width:2px;
    margin-left:0px;
    margin-right:0px;
}
.custom-btn:hover {
    background:#E27101;
}

.text-green {
    color:#007DA9;
}
.text-black {
    color:#444444;
}

#logo img {
    padding-top:5px;
    padding-bottom:5px;
}

#primary-menu ul li > a {
    font-size:20px;
    font-weight:400;
    text-transform:none;
    letter-spacing:0;
}
#primary-menu ul li > a:hover {
    text-decoration:underline;
    color:inherit;
}


#primary-menu > ul:nth-child(1) > li:nth-child(1) > a {
    color:#FF8201;
}
#primary-menu > ul:nth-child(1) > li:nth-child(2) > a {
    color:#0090B8;
}
#primary-menu > ul:nth-child(1) > li:nth-child(3) > a {
    color:#444444;
}

#primary-menu > ul:nth-child(1) > li:nth-child(4) > a, #primary-menu > ul:nth-child(1) > li:nth-child(5) > a, #primary-menu > ul:nth-child(1) > li:nth-child(6) > a {
    color:#777;
}
#header-wrap {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}


/** ICON ARROW DOWN **/
.icon-arrow-down {
    color: black;
    border: 2px solid black;
    border-radius: 10000px;
    width: 50px;
    height: 50px;
    font-size: 30px;
}

/** PHONE SLUG **/

.phone-slug {
    background:#007DA9;
    color:#FFF;
    padding-top:30px;
}
.phone-slug p {
    color:#FFF;
    font-size:21px;
}

.text-phone {
    color:#FFF;
    font-size:36px;
    font-weight:700;
}
.phone-slug div.col-sm-6.tleft {
    border-left:1px solid #FFF;
}

.phone-slug h6 {
    line-height:13px !important;
}


@media (max-width:767px) {
    .col-sm-6 {
        text-align:center !important;
    }
    .phone-slug h6 {
        font-size:24px;
    }
    .phone-slug div.col-sm-6.tleft {
        border-left:none;
    }
    .phone-slug .text-phone {
        font-size:40px;
    }
    .phone-slug p {
        text-transform:capitalize;
        font-size:20px;
        line-height:30px !important;
    }
    .phone-slug .existing-phone {
        font-size:24px;
    }
    .phone-slug .text-phone {
        margin-bottom:10px;
    }
    .phone-slug .custom-btn {
        margin-bottom:20px;
    }
}

/** END PHONE SLUG **/


/** MEET THE TEAM **/

.section-meet-the-team p {
    color: #777777;
    font-size: 16px;
    line-height:22px !important;
}

.picture-caption {
    border-right:1px solid #979797;
    height:100%;
    padding-right:10px;
    padding-bottom:100px;
}
@media (max-width:991px) {
    .picture-caption {
        border-right:none;
        padding-bottom:0;
    }
    .img-wrap {
        text-align:center !important;
        margin-bottom:20px;
    }
    .section-meet-the-team h2 {
        margin-bottom:10px;
    }
}


/** OWL CAROUSEL **/
.owl-carousel .owl-nav [class*=owl-] {
    top:38%;
    background-color:#007DA9;
    color:#FFF;
    border:1px solid #FFF;
}

.plus-sign {
    position:relative;
    top:36.5%;
    font-size:72px;
    color:#FFF;
    font-weight:400;
}
.oc-item h4 {
    font-size:24px;
    color:#2F8AA9;
    font-weight:700;
    margin-bottom:0;
}
.oc-item p {
    font-size:14px;
    font-weight:300;
    color:#2A2A2A;
}
.portfolio-item:hover .portfolio-overlay, .iportfolio:hover .portfolio-overlay {
    opacity:.65;
}
.portfolio-overlay:hover {
    cursor:pointer;
}
@media (max-width:1199px) {
    .owl-carousel .owl-nav [class*=owl-] {
        top: 40%;
    }
}
@media (max-width:991px) {
    .owl-carousel .owl-nav [class*=owl-] {
        top: 38%;
    }
    .plus-sign {
        top:33%;
    }
}

@media (max-width:479px) {
    .owl-carousel .owl-nav [class*=owl-] {
        top: 36%;
    }
}

/** END OWL CAROUSEL **/


/** SPECIALS **/

.section-specials {
    padding-top:40px;
    padding-bottom:20px;
    background:#F2F0ED;
}
.section-specials h2 {
    margin-bottom:0;
}
.section-specials .col-xs-12 p {
    font-size:32px;
    color:#444444;
}
.specials-1 {
    background: #D06A00;
    color:#D06A00
}
.specials-2 {
    background: #004F6B;
    color:#004F6B
}

.specials-3 {
    background: #518A13;
    color:#518A13;
}
.specials-row h5 {
    font-size:36px;
    color:#FFF;
    font-weight:700;
    line-height:40px !important;

}
.specials-row p {
    color:#999999;
    font-size:18px;
    margin-bottom:0px;
    line-height:25px !important;
    margin-top:20px;
    margin-bottom:10px;
}
.specials-label {
    font-size:14px;
    color:#999999;
}
.specials-save {
    font-size:18px;
    text-transform:uppercase;
    background:none;
}
.section-specials .col-md-4 {
    border-radius:8px;
    padding:0;
    margin-left:20px;
    margin-right:20px;
    padding-bottom:20px;
    background:#FFF;
    margin-bottom:50px;
}
.section-specials .container {
    padding-left:0;
    padding-right:0;
}
.specials-row {
    display:flex;
    text-align:center;
}
.specials-top {
    height:196px;
    padding-top:15px;
    border-radius:8px 8px 0px 0px;
}
.specials-circle {
    position:relative;
    border:7px solid #FFF;
    width:146px;
    height:146px;
    border-radius:50%;
    top:-73px;
    margin:0 auto;
    margin-bottom:-73px;
}
.specials-bottom {
    padding-top:10px;
    padding-left:12.5px;
    padding-right:12.5px;
}
.specials-save {
    font-size:18px;
}
.price {
    font-size:88px;
    color:#FFF;
}
.dollar {
    font-size:36px;
    color:#FFF;
    top:-18px;
    position:relative;
}

@media (max-width:1199px) {
    .specials-row p {
        margin-top:10px;
    }
}
@media (max-width:991px) {
    .specials-row {
        display:inherit;
    }
    .section-specials .col-md-4 {
        max-width:400px;
        margin:0 auto;
        margin-bottom:50px;
    }
}


/** END SPECIALS **/


/** SECTION PATIENT REVIEWS **/
.section-patient-reviews {
    background-image:url("images/reviews-bkgd.jpg");
    padding-top:20px;
    padding-bottom:20px;
}
.bf-spn {
    color:#FFF;
    font-size:14px;
}
.bf-pro {
    color:#FFF !important;
}
.bf-pro:hover {
    text-decoration:underline !important;
}
.section-patient-reviews h2 {
    color:#FFF;
}
@media (max-width:767px) {
    #bfpublish {
        max-height:510px;
    }
}
@media (max-width:500px) {
    #bfpublish {
        max-height:350px;
    }
}


/** END SECTION PATIENT REVIEWS **/

/** SECTION NO INSURANCE **/

.section-no-insurance {
    padding-top:150px;
    padding-bottom:150px;
}
.section-no-insurance .col-md-6.center > div > p:nth-child(2) {
    font-size:21px;
    color:#3E3C3B;
    margin-bottom:40px;
}
.section-no-insurance .bio {
    margin-top:50px;
}
.section-no-insurance h6 {
    color:#FF8201;
    font-size:30px;
}
.section-no-insurance .custom-btn {
    padding-left:100px;
    padding-right:100px;
}
.section-no-insurance .p-block {
    font-weight:300;
    font-size:18px;
    color:#3E3C3B;
}
.p-block p {
    margin-bottom:0;
    line-height:1.5 !important;
}
.section-no-insurance h2 {
    color:#FF8201;
    margin-bottom:20px;
}

@media (max-width:991px) {
    .section-no-insurance .bio {
        background-color:rgba(255, 255, 255, 0.64);
        padding-bottom:10px;
    }
}
@media (max-width:767px) {
    .section-no-insurance h2 {
        font-size:50px;
    }
    .section-no-insurance .custom-btn {
        padding-left:50px;
        padding-right:50px;
    }
    .p-block p {
        margin-bottom:10px;
    }
}
@media (max-width:500px) {
    .p-block p {
        font-size:16px;
    }
    .section-no-insurance h6 {
        font-size:28px;
    }
    .section-no-insurance h2 {
        font-size:36px;
    }
}


/* END SECTION NO INSURANCE **/

.mobile-display {
    padding-top:25px;
    padding-bottom:25px;
}
.mobile-display .custom-btn {
    padding-left:50px;
    padding-right:50px;
}
.mobile-display h1 {
    margin-top:100px;
    font-size:62px;
    margin-bottom:5px;
}
.mobile-display h3 {
    font-size:40px;
}
.mobile-display h4 {
    font-size:22px;
}

@media (max-width:767px) {
    .mobile-display .container {
        margin-left:30px;
        margin-right:30px;
    }
    .mobile-display {
        padding-top:15px;
        padding-bottom:15px;
    }
    .mobile-display h1 {
        margin-top:60px;
        font-size:55px;
    }
    .mobile-display h3 {
        font-size:36px;
    }
}
@media (max-width:479px) {
    .mobile-display h1 {
        font-size:50px;
    }
    .mobile-display h3 {
        font-size:36px;
    }
    .mobile-display h4 {
        font-size:22px;
    }
    .mobile-display .container {
        margin-left:30px;
        margin-right:30px;
    }
}

@media (max-width:400px) {
    .mobile-display.display-991 > div > div {
        text-align:center !important;
    }
    .mobile-display h1 {
        font-size:45px;
    }
    .mobile-display h3 {
        font-size:30px;
    }
}
.section-team-slider {
    background-image:url("images/bedge_grunge_light.jpg");
}
.section-welcome-video {
    background-image:url("images/bedge_grunge.png");
}
.section-welcome-video p {
    font-size:18px;
    color:#777777;
    line-height:22px !important;
}
.section-welcome-video h2 {
    line-height:50px !important;
}
@media (max-width:479px) {
    .section-welcome-video h2 {
        font-size:36px;
    }
}
/** MEDIA QUERIES **/
@media (max-width:1210px) {
    .section-welcome-video p {
        font-size:16px;
    }
    #welcome-video .col-md-6 > p:nth-child(2) {
        margin-bottom:20px;
    }
}
@media (max-width:1160px) {
    #primary-menu ul li > a {
        font-size:18px;
    }

}
@media (max-width:1070px) {
    #primary-menu ul li > a {
        font-size:16px;
        padding-left:10px;
        padding-right:10px;
    }
}
@media (max-width:991px) {
    #logo img {
        padding-top:10px;
        padding-bottom:10px;
    }
    .section-welcome-video .video-wrap {
       text-align:center;
        padding-bottom:30px;
    }
}
@media (max-width:479px) {
    section h2 {
        font-size:40px;
    }
}
@media (max-width:350px) {
    .custom-btn {
        padding-left:15px;
        padding-right:15px;
    }
}

