body {
    font-family: 'Roboto Condensed', sans-serif;
    color:#444;
    font-weight:400;
    text-shadow:none;
}

h1, h2, h3, h4,h5,h6 {
    text-shadow:none;
    font-family: 'Alegreya Sans', sans-serif;
}
h1 {
    font-size:72px;
    font-weight:700px;
    color:#FF8201;
    text-transform:none;
    margin-bottom:0;
    line-height:55px;
    position:relative;
    right:3px;
}
h2 {
    font-size:48px;
    color:#007DA9;
}
h3 {
    font-size:36px;
    color:#007DA9;
}
h4 {
    font-size:24px;
    font-family: 'Roboto Condensed', sans-serif;
}
h5 {
    font-size:20px;
}
h6 {
    font-size:18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:400
}
p {
    font-size:20px;
}
.font-28 {
    font-size:28px;
}
.font-26 {
    font-size:26px;
}
.margin-bottom-10 {
    margin-bottom:10px;
}
.margin-bottom-15 {
    margin-bottom:15px;
}
.margin-bottom-20 {
    margin-bottom:20px;
}
.margin-bottom-30 {
    margin-bottom:30px;
}
.margin-bottom-40 {
    margin-bottom:40px;
}
.margin-bottom-50 {
    margin-bottom:50px;
}
.padding-bottom-30 {
    padding-bottom:30px;
}

.font-60 {
    font-size:60px;
}

section h2 {
    font-weight:700;
}
a {
    color: #FFF;
}
.transform-none {
    text-transform:none !important;
}
.star {
    font-size:35px;
    color:#FFCD00;
}
a:hover {
    color:#FFF;
    text-decoration:none;
}
.text-white {
    color:#FFF;
}
.font-alegreya {
    font-family: 'Alegreya Sans', sans-serif;
}
.font-14 {
    font-size:14px;
}
.font-roboto {
    font-family: 'Roboto Condensed', sans-serif;
}

.text-orange {
    color:#FF8201;
}
.custom-btn {
    background:#FF8201;
    color:#FFF;
    font-size:20px;
    border-radius:12px;
    font-weight:400;
    text-shadow:none;
    border-width:2px;
    margin-left:0px;
    margin-right:0px;
}
.custom-btn:hover {
    background:#E27101;
}


.text-green {
    color:#007DA9;
}
.text-black {
    color:#444444;
}

#logo img {
    padding-top:5px;
    padding-bottom:5px;
}

#primary-menu ul li > a {
    font-size:20px;
    font-weight:400;
    text-transform:none;
}

#primary-menu > ul:nth-child(1) > li:nth-child(1) > a {
    color:#FF8201;
}
#primary-menu > ul:nth-child(1) > li:nth-child(2) > a {
    color:#0090B8;
}
#primary-menu > ul:nth-child(1) > li:nth-child(3) > a {
    color:#444444;
}

#primary-menu > ul:nth-child(1) > li:nth-child(4) > a, #primary-menu > ul:nth-child(1) > li:nth-child(5) > a, #primary-menu > ul:nth-child(1) > li:nth-child(6) > a {
    color:#777;
}
#header-wrap {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}


/** ICON ARROW DOWN **/
.icon-arrow-down {
    color: black;
    border: 2px solid black;
    border-radius: 10000px;
    width: 50px;
    height: 50px;
    font-size: 30px;
}

/** PHONE SLUG **/

.phone-slug {
    background:#007DA9;
    color:#FFF;
    padding-top:30px;
}
.phone-slug p {
    color:#FFF;
    font-size:21px;
}

.text-phone {
    color:#FFF;
    font-size:36px;
    font-weight:700;
}
.phone-slug div.col-sm-6.tleft {
    border-left:1px solid #FFF;
}

.phone-slug h6 {
    line-height:13px !important;
}
.display-767 {
    display:none;
}

@media (max-width:767px) {
    .col-sm-6 {
        text-align:center !important;
    }
    .phone-slug h6 {
        font-size:24px;
    }
    .phone-slug .text-phone {
        font-size:40px;
    }
    .hide-767 {
        display:none;
    }
    .display-767 {
        display:inherit;
    }
    .phone-slug p {
        text-transform:capitalize;
        font-size:20px;
        line-height:30px !important;
    }
    .phone-slug .existing-phone {
        font-size:24px;
    }
    .phone-slug .text-phone {
        margin-bottom:10px;
    }
    .phone-slug .custom-btn {
        margin-bottom:20px;
    }
}

/** END PHONE SLUG **/


/** MEET THE TEAM **/

.section-meet-the-team p {
    font-size: 16px;
    color: #777777;
    line-height:22px !important;
}

.picture-caption {
    height:100%;
    border-right:1px solid #979797;
    padding-right:10px;
    padding-bottom:255px;
}
@media (max-width:991px) {
    .picture-caption {
        border-right:none;
        padding-bottom:0;
    }
    .img-wrap {
        text-align:center !important;
        margin-bottom:20px;
    }
    .section-meet-the-team h2 {
        margin-bottom:10px;
    }
}
