body {
    font-family: 'Alegreya Sans', sans-serif;
    color:#444;
}

h1, h2, h3, h4,h5,h6 {
    text-shadow:none;
}
h1 {
    font-size:72px;
    font-weight:700px;
    color:#FF8201;
    text-transform:none;
    margin-bottom:0;
    line-height:55px;
}
h2 {
    font-size:48px;
    color:#007DA9;
}
h3 {
    font-size:36px;
    color:#007DA9;
}
h4 {
    font-size:24px;
    font-weight:400;
    font-family: 'Roboto Condensed', sans-serif;
}

.font-alegreya {
    font-family: 'Alegreya Sans', sans-serif;
}
.font-roboto {
    font-family: 'Roboto Condensed', sans-serif;
}

.text-orange {
    color:#FF8201;
}
.custom-btn {
    background:#FF8201;
    color:#FFF;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:20px;
    border-radius:12px;
    font-weight:400;
    text-shadow:none;
}
.custom-btn:hover {
    background:#E27101;
}


.text-green {
    color:#007DA9;
}
.text-black {
    color:#444444;
}

#logo img {
    padding-top:5px;
    padding-bottom:5px;
}

#primary-menu ul li > a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size:20px;
    font-weight:400;
    text-transform:none;
}

#primary-menu > ul:nth-child(1) > li:nth-child(1) > a {
    color:#FF8201;
}
#primary-menu > ul:nth-child(1) > li:nth-child(2) > a {
    color:#0090B8;
}
#primary-menu > ul:nth-child(1) > li:nth-child(3) > a {
    color:#444444;
}

#primary-menu > ul:nth-child(1) > li:nth-child(4) > a, #primary-menu > ul:nth-child(1) > li:nth-child(5) > a, #primary-menu > ul:nth-child(1) > li:nth-child(6) > a {
    color:#777;
}
