body {
    font-family: 'Roboto Condensed', sans-serif;
    color:#444;
    font-weight:400;
    text-shadow:none;
}


h1, h2, h3, h4,h5,h6 {
    text-shadow:none;
    font-family: 'Alegreya Sans', sans-serif;
}
h1 {
    font-size:72px;
    font-weight:700px;
    color:#FF8201;
    text-transform:none;
    margin-bottom:0;
    line-height:55px;
    position:relative;
    right:3px;
}
h2 {
    font-size:48px;
    color:#007DA9;
}
h3 {
    font-size:36px;
    color:#007DA9;
}
h4 {
    font-size:24px;
    font-family: 'Roboto Condensed', sans-serif;
}
h5 {
    font-size:20px;
}
h6 {
    font-size:18px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:400
}
p {
    font-size:20px;
}

section h2 {
    font-weight:700;
}
a {
    color: #FFF;
}

.star {
    font-size:35px;
    color:#FFCD00;
}
a:hover {
    color:#FFF;
    text-decoration:none;
}

.font-alegreya {
    font-family: 'Alegreya Sans', sans-serif;
}

.font-roboto {
    font-family: 'Roboto Condensed', sans-serif;
}

.text-orange {
    color:#FF8201;
}
.custom-btn {
    background:#FF8201;
    color:#FFF;
    font-size:20px;
    border-radius:12px;
    font-weight:400;
    text-shadow:none;
    border-width:2px;
    margin-left:0px;
    margin-right:0px;
}
.custom-btn:hover {
    background:#E27101;
    text-shadow:none;
}



.text-green {
    color:#007DA9;
}
.text-black {
    color:#444444;
}

#logo img {
    padding-top:5px;
    padding-bottom:5px;
}

#primary-menu ul li > a {
    font-size:20px;
    font-weight:400;
    text-transform:none;
    letter-spacing:0;
}
#primary-menu ul li > a:hover {
    text-decoration:underline;
    color:inherit;
}


#primary-menu > ul:nth-child(1) > li:nth-child(1) > a, #primary-menu > ul.mobile-primary-menu.sf-js-enabled.show > li:nth-child(1) > a {
    color:#FF8201;
}
#primary-menu > ul:nth-child(1) > li:nth-child(2) > a, #primary-menu > ul.mobile-primary-menu.sf-js-enabled.show > li:nth-child(2) > a {
    color:#0090B8;
}
#primary-menu > ul:nth-child(1) > li:nth-child(3) > a, #primary-menu > ul.mobile-primary-menu.sf-js-enabled.show > li:nth-child(3) > a {
    color:#444444;
}

#primary-menu > ul:nth-child(1) > li:nth-child(4) > a, #primary-menu > ul:nth-child(1) > li:nth-child(5) > a, #primary-menu > ul:nth-child(1) > li:nth-child(6) > a, #primary-menu > ul.mobile-primary-menu.sf-js-enabled.show > li:nth-child(4) > a, #primary-menu > ul.mobile-primary-menu.sf-js-enabled.show > li:nth-child(5) > a, #primary-menu > ul.mobile-primary-menu.sf-js-enabled.show > li:nth-child(6) > a {
    color:#777;
}
#header-wrap {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}


/** ICON ARROW DOWN **/
.icon-arrow-down {
    color: black;
    border: 2px solid black;
    border-radius: 10000px;
    width: 50px;
    height: 50px;
    font-size: 30px;
}

/** PHONE SLUG **/

.phone-slug {
    background:#007DA9;
    color:#FFF;
    padding-top:30px;
}
.phone-slug p {
    color:#FFF;
    font-size:21px;
}

.text-phone {
    color:#FFF;
    font-size:36px;
    font-weight:700;
}
.phone-slug div.col-sm-6.tleft {
    border-left:1px solid #FFF;
}

.phone-slug h6 {
    line-height:13px !important;
}


@media (max-width:767px) {
    .col-sm-6 {
        text-align:center !important;
    }
    .phone-slug h6 {
        font-size:24px;
    }
    .phone-slug div.col-sm-6.tleft {
        border-left:none;
    }
    .phone-slug .text-phone {
        font-size:40px;
    }
    .phone-slug p {
        text-transform:capitalize;
        font-size:20px;
        line-height:30px !important;
    }
    .phone-slug .existing-phone {
        font-size:24px;
    }
    .phone-slug .text-phone {
        margin-bottom:10px;
    }
    .phone-slug .custom-btn {
        margin-bottom:20px;
    }
}

/** END PHONE SLUG **/


/** MEET THE TEAM **/

.section-meet-the-team p {
    color: #777777;
    font-size: 16px;
    line-height:22px !important;
}

.picture-caption {
    border-right:1px solid #979797;
    height:100%;
    padding-right:10px;
    padding-bottom:255px;
}
@media (max-width:991px) {
    .picture-caption {
        border-right:none;
        padding-bottom:0;
    }
    .img-wrap {
        text-align:center !important;
        margin-bottom:20px;
    }
    .section-meet-the-team h2 {
        margin-bottom:10px;
    }
}


/** OWL CAROUSEL **/
.owl-carousel .owl-nav [class*=owl-] {
    top:38%;
    background-color:#007DA9;
    color:#FFF;
    border:1px solid #FFF;
}
.owl-carousel .owl-nav [class*=owl-]:hover {
    background-color:#008CBE;
}

.plus-sign {
    position:relative;
    top:36.5%;
    font-size:72px;
    color:#FFF;
    font-weight:400;
}
.oc-item h4 {
    font-size:24px;
    color:#2F8AA9;
    font-weight:700;
    margin-bottom:0;
}
.oc-item p {
    font-size:14px;
    font-weight:300;
    color:#2A2A2A;
}
.portfolio-item:hover .portfolio-overlay, .iportfolio:hover .portfolio-overlay {
    opacity:.65;
}
.portfolio-overlay:hover {
    cursor:pointer;
}
@media (max-width:1199px) {
    .owl-carousel .owl-nav [class*=owl-] {
        top: 44%;
    }
    .section-team-slider .owl-carousel .owl-nav [class*=owl-] {
        top:39%;
    }
}
@media (max-width:991px) {
    .owl-carousel .owl-nav [class*=owl-] {
        top: 38%;
    }
    .plus-sign {
        top:33%;
    }
    .section-team-slider .owl-carousel .owl-nav [class*=owl-] {
        top:37%;
    }
}

@media (max-width:479px) {
    .owl-carousel .owl-nav [class*=owl-] {
        top: 41%;
    }
}

.section-services-slider .owl-carousel .owl-nav [class*=owl-] {
    top:44%;
}
@media (max-width:991px) {
    .section-services-slider .owl-carousel .owl-nav [class*=owl-] {
        top:38%;
    }
}
@media (max-width:479px) {
    .section-services-slider .owl-carousel .owl-nav [class*=owl-] {
        top:41%;
    }
}

/** END OWL CAROUSEL **/


/** SPECIALS **/

.section-specials {
    padding-top:50px;
    padding-bottom:20px;
    background:#F2F0ED;
}
.section-specials h2 {
    margin-bottom:0;
    font-size:55px;
    color:#FF8201;
    line-height:50px !important;
}
.section-specials .col-xs-12 p {
    font-size:32px;
    color:#444444;
}
.specials-1 {
    background: #D06A00;
    color:#D06A00
}
.specials-2 {
    background: #004F6B;
    color:#004F6B
}

.specials-3 {
    background: #518A13;
    color:#518A13;
}
.specials-row h5 {
    font-size:36px;
    color:#FFF;
    font-weight:700;
    line-height:40px !important;

}
.specials-row p {
    color:#999999;
    font-size:18px;
    margin-bottom:0px;
    line-height:25px !important;
    margin-top:20px;
    margin-bottom:10px;
}
.specials-label {
    font-size:14px;
    color:#999999;
}
.specials-save {
    font-size:18px;
    text-transform:uppercase;
    background:none;
    font-weight:700;
}
.section-specials .col-md-4 {
    border-radius:8px;
    padding:0;
    margin-left:20px;
    margin-right:20px;
    padding-bottom:20px;
    background:#FFF;
    margin-bottom:50px;
}
.section-specials .container {
    padding-left:0;
    padding-right:0;
}
.specials-row {
    display:flex;
    text-align:center;
}
.specials-top {
    height:196px;
    padding-top:15px;
    border-radius:8px 8px 0px 0px;
}
.specials-circle {
    position:relative;
    border:7px solid #FFF;
    width:146px;
    height:146px;
    border-radius:50%;
    top:-73px;
    margin:0 auto;
    margin-bottom:-73px;
}
.specials-bottom {
    padding-top:10px;
    padding-left:12.5px;
    padding-right:12.5px;
}
.specials-save {
    font-size:18px;
}
.price {
    font-size:88px;
    color:#FFF;
}
.dollar {
    font-size:36px;
    color:#FFF;
    top:-18px;
    position:relative;
}

@media (max-width:1199px) {
    .specials-row p {
        margin-top:10px;
    }
}
@media (max-width:991px) {
    .specials-row {
        display:inherit;
    }
    .section-specials .col-md-4 {
        max-width:400px;
        margin:0 auto;
        margin-bottom:50px;
    }
}

@media (max-width:479px) {
    .section-specials h2 {
        font-size:44px;
    }
    #summer-specials > div > div:nth-child(1) > div > div > p {
        font-size:20px;
    }
}


/** END SPECIALS **/


/** SERVICES MODALS **/

.services-modals .modal-body.team__modal-pic > div, .team-modals .modal-body.team__modal-pic > div {
    text-align:center;
    margin-bottom:10px;
}
@media (max-width:991px) {
    .services-modals .modal-body.team__modal-pic > div, .team-modals .modal-body.team__modal-pic > div {
        display:none;
    }
    .team-modals p, .services-modals p {
        font-size:17px;
    }
}
@media (max-width:768px) {
    .team-modals p, .services-modals p {
        font-size:15px;
    }
}
/** CONTACT MODAL **/
.form-error {
    color: #D56724;
    margin: 0 0 20px 0;
    padding: 0 0 0 30px;
    display: none;
}
button.close {
    font-size:50px;
    margin-top:-10px;
    color:#000;
    opacity:1;
    border-bottom:0px;
}

h4.modal-title {
    font-size:22px;
    text-decoration:capitalize;
}
.modal h5 {
    font-size:15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:300;

}
.modal .custom-btn {
    width:100%;
    letter-spacing:0;
}
.modal-header .close {
    margin-top:-10px;
}

#contact-modal .modal-dialog {
    background:#FFF;
    border-radius:5px;
}



/** END CONTACT MODAL **/

.social-icon.si-small {
    margin-left:10px;
}
.icon-arrow-down {
    position:relative;
    top:-20px;
}
/** SECTION PATIENT REVIEWS **/
.section-patient-reviews {
    background-image:url("images/reviews-bkgd.jpg");
    padding-top:50px;
    padding-bottom:20px;
}
.bf-spn {
    color:#FFF;
    font-size:14px !important;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.80) !important;
}
.bf-pro {
    color:#FFF !important;
    font-size:14px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.80);
}
.bf-pro:hover {
    text-decoration:underline !important;
}
.section-patient-reviews h2 {
    color:#FFF;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}
@media (max-width:767px) {
    #bfpublish, iframe {
        max-height:510px !important;
    }
}
@media (max-width:500px) {
    #bfpublish, iframe {
        max-height:350px !important;
    }
}


/** END SECTION PATIENT REVIEWS **/

/** SECTION NO INSURANCE **/

.section-no-insurance {
    padding-top:160px;
    padding-bottom:190px;
    background-position:center center;
}
.section-no-insurance .col-md-6.center > div > p:nth-child(2) {
    font-size:21px;
    color:#3E3C3B;
    margin-bottom:40px;
}
.section-no-insurance .bio {
    margin-top:50px;
}
.section-no-insurance h6 {
    color:#FF8201;
    font-size:30px;
}
.section-no-insurance .custom-btn {
    padding-left:100px;
    padding-right:100px;
}
.section-no-insurance .p-block {
    font-weight:300;
    font-size:18px;
    color:#3E3C3B;
}
.p-block p {
    margin-bottom:0;
    line-height:1.5 !important;
    font-size:18px;
}
.section-no-insurance h2 {
    color:#FF8201;
    margin-bottom:0px;
}
@media (max-width:991px) {
    #no-insurance {
        background-image:none !important;
        padding-top:0px;
        padding-bottom:0px;
    }
    .p-block {
        margin-bottom:30px !important;
    }
    #no-insurance > div > div > div.col-md-6.center {
        top:20px;
    }
    .section-no-insurance .bio {
        margin-top:0;
    }
    .section-no-insurance h6 {
        margin-bottom:20px;
    }
    .section-no-insurance .col-md-6.center > div > p:nth-child(2) {
        margin-bottom:20px;
    }
}

@media (max-width:767px) {
    .section-no-insurance h2 {
        font-size:50px;
    }
    .section-no-insurance .custom-btn {
        padding-left:50px;
        padding-right:50px;
    }
    .p-block p {
        margin-bottom:10px;
    }
}
@media (max-width:500px) {
    .p-block p {
        font-size:16px;
    }
    .section-no-insurance h6 {
        font-size:28px;
    }
    .section-no-insurance h2 {
        font-size:36px;
    }
}


/* END SECTION NO INSURANCE **/

.mobile-display {
    padding-top:25px;
    padding-bottom:25px;
    background-size:cover;
    background-repeat:no-repeat;
}
.mobile-display .custom-btn {
    padding-left:50px;
    padding-right:50px;
}
.mobile-display h1 {
    margin-top:100px;
    font-size:62px;
    margin-bottom:5px;
}
.mobile-display h3 {
    font-size:40px;
}
.mobile-display h4 {
    font-size:22px;
}

.mobile-display-2 {
    background-size:cover;
    height:auto;
    background-repeat:no-repeat;
    display:none;
}
@media (max-width:640px) {
    .mobile-display-2 {
        display:inherit;
    }
}
@media (max-width:767px) {
    .mobile-display .container {
        margin-left:30px;
        margin-right:30px;
    }
    .mobile-display {
        padding-top:15px;
        padding-bottom:15px;
    }
    .mobile-display h1 {
        margin-top:60px;
        font-size:55px;
    }
    .mobile-display h3 {
        font-size:36px;
    }
}

.section-dental-implants {
    padding-top:20px;
}
.section-dental-implants .custom-btn {
    padding-left:75px;
    padding-right:75px;
}
.section-dental-implants p {
    line-height:22px !important;
}
.section-dental-implants > div > div > div.col-md-6.text-white {
    padding-top:50px;
}
@media (max-width:1200px) {
    .section-dental-implants > div > div > div.col-md-6.text-white {
        padding-top:0px;
    }
}
@media (max-width:991px) {
    .section-dental-implants > div > div > div.col-md-6.text-white {
        margin-bottom:20px;
    }
}

.section-comprehensive-services {
    padding-top:50px;
    padding-bottom:40px;
}
.section-comprehensive-services .custom-btn {
    background:#FFF;
    color:#007DA9;
    border-color:#007DA9;
    letter-spacing:0;
    width:90%;
}
@media (max-width:991px) {
    .section-comprehensive-services .custom-btn {
        width:inherit;
        text-align:center;
    }
    .section-comprehensive-services div.row > div:nth-child(3) > div, .section-comprehensive-services div.row > div:nth-child(2) > div {
        text-align:center;
    }

}
.section-comprehensive-services .custom-btn:hover {
    background:#EEEEEE;
}

.section-comprehensive-services h4 {
    font-weight:700;
}
.section-comprehensive-services p {
    font-size:16px;
    color:#777777;
    line-height:21px !important;
}
.section-comprehensive-services .title-2 {
    display:none;
}
.section-services-slider {
    padding-top:40px;
    padding-bottom:30px;
}

@media (max-width:1200px) {
    .section-comprehensive-services h4 {
        font-size: 22px;
    }

    .section-comprehensive-services .title-1 {
        display: none;
    }

    .section-comprehensive-services .title-2 {
        display: inherit;
    }
}
@media (max-width:991px) {
    .section-comprehensive-services .custom-btn {
        margin-bottom: 20px;
    }

    .section-comprehensive-services .title-1 {
        display: inherit;
    }

    .section-comprehensive-services .title-2 {
        display: none;
    }
}
.section-team-slider {
    background-image:url("images/bedge_grunge_light.jpg");
}
.section-welcome-video {
    background-image:url("images/bedge_grunge.png");
}
.section-welcome-video p {
    font-size:18px;
    color:#777777;
    line-height:22px !important;
}
.section-welcome-video h2 {
    line-height:50px !important;
}

@media (max-width:479px) {
    .section-welcome-video h2 {
        font-size:36px;
    }
}

.section-comprehensive-services img {
    margin-bottom:20px;
}
#contact-form-overlay, #contact-form-overlay-mini {
    border-radius:12px !important;
}
.section-contact img {
    width:80%;
    margin-bottom:10px;
}
.section-contact p {
    font-size:18px;
    color:#202020;
    font-weight:300;
    line-height:22px !important;
}
.text-light-green {
    color:#518A13 !important;
}
.section-contact .text-phone {
    font-size:36px;
    font-weight:700;
    color:#FF8201;
}
.float-right-non-mobile {
    float:right;
}

.section-contact .text-phone-2 {
    font-size:24px;
    font-weight:700;
    color:#FF8201;
}
@media (max-width:479px) {
    .section-contact .text-phone {
        font-size:30px;
    }
    .section-contact .custom-btn {
        padding-left:10px;
        padding-right:10px;
    }
    #contact-form-overlay, #contact-form-overlay-mini {
        padding-left:20px;
        padding-right:20px;
    }
}
.copy-footer {
    background:#007DA9 !important;
}
/** MEDIA QUERIES **/
@media (max-width:1210px) {
    .section-welcome-video p {
        font-size:16px;
    }
    #welcome-video .col-md-6 > p:nth-child(2) {
        margin-bottom:20px;
    }
}
@media (max-width:1160px) {
    #primary-menu ul li > a {
        font-size:18px;
    }

}
@media (max-width:1070px) {
    #primary-menu ul li > a {
        padding-left:10px;
        padding-right:10px;
    }
}
@media (max-width:991px) {
    #logo img {
        padding-top:10px;
        padding-bottom:10px;
    }
    .section-welcome-video .video-wrap {
       text-align:center;
        padding-bottom:30px;
    }
    .copy-text {
        margin-bottom:10px;
    }
    .float-right-non-mobile {
        float:none;
        text-align:center;
        padding-left:42%;
    }
}
@media (max-width:767px) {
    .float-right-non-mobile {
        float:none;
        text-align:center;
        padding-left:38%;
    }
}


@media (max-width:479px) {
    section h2 {
        font-size:40px;
    }

}
@media (max-width:401px) {
    .float-right-non-mobile {
        padding-left:28.5%;
    }
}
@media (max-width:350px) {
    .custom-btn {
        padding-left:15px;
        padding-right:15px;
    }
}

/** edits **/

#slider > div > div > .one-page-arrow:hover {
    color:inherit;
}

@media (max-width:991px) {
    #slide-1 > .container {
        width:inherit;
        margin-right:5%;
    }
    #slide-1 .slider-caption-right {
        text-align:center;
    }
    #slide-2 .slider-caption {
        width:50%;
    }
    #slide-2 h2 {
        font-size:50px;
    }

}

