.font-28 {
    font-size:28px;
}
.font-26 {
    font-size:26px;
}
#primary-menu-trigger {
    font-size:40px;
}
.margin-bottom-10 {
    margin-bottom:10px;
}
.margin-bottom-15 {
    margin-bottom:15px;
}
.margin-bottom-20 {
    margin-bottom:20px;
}
.margin-bottom-30 {
    margin-bottom:30px;
}
.margin-bottom-40 {
    margin-bottom:40px;
}
.margin-bottom-50 {
    margin-bottom:50px;
}
.padding-bottom-30 {
    padding-bottom:30px;
}
.padding-top-30 {
    padding-top:30px;
}
.padding-top-50 {
    padding-top:50px;
}
.padding-bottom-50 {
    padding-bottom:50px;
}
.font-64 {
    font-size:64px;
}

.font-60 {
    font-size:60px;
}
.font-14 {
    font-size:14px;
}

.text-white {
    color:#FFF;
}

.transform-none {
    text-transform:none !important;
}

.display-767 {
    display:none;
}

@media (max-width:767px) {
    .display-767 {
        display:inherit;
    }
    .hide-767 {
        display:none;
    }
}